<div class="alert alert-success alert-dismissible fade show invisible" id="message" role="alert">
  <div class="container">
    <span id="user-message"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
