<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="header container">
    <a class="navbar-brand" href= "{{ path('index') }}" >
      <img src="{{ asset('images/logo_recreacion-01.png') }}" width="260" height="85" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
