/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: #ffffff;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "PT Sans Caption", Helvetica, Arial, serif;
  font-weight: bold;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.contenedor {
  padding: 20px;
  max-width: 60rem;
  background-color: #ffffff;
}
.page-header{
  margin-bottom: 2%;
}
.pre-table {
  margin: auto;
  padding-bottom: 20px;
}
.table-header{
  background-color: #076385;
  font-weight: bold;
  color: #ffffff;
}
.row-blocked {
  background-color: #e0e0e0;
  font-style: italic;
  color: #8e8e8e;
}

.col-md-8 {
  padding: 20px;
  background-color: #ffffff;
}
.post {
  padding: 5px 10px 20px 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border-left: 7px inset #2785ba;
  border-right: 7px outset #2785ba;
  border-top: 1px outset #646869;
  border-bottom: 1px outset #646869;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
}
.post .estado {
  padding: 0px;
  margin: 0 auto;
  text-align: right;
  font-size: 12px;
  font-family: "Tahoma", "Geneva", sans-serif;
}
.post .torneo-header {
  text-decoration: none;
  font-style: none;
  font-weight: none;
  font-variant: none;
  font-size: 16px;
  color: #5e5e5e;
}
.post .post-info {
  padding: 0px;
  margin-top: -10px;
  font-weight: bold;
  font-size: 12px;
  font-family: "Tahoma", "Geneva", sans-serif;
}

/*estilos para nuevo_usuario.html.twig*/

.form-group {
  margin: auto;
  max-width: 60%;
}
.form-group .checkbox {
  font-weight: normal;
  margin: auto;
  padding-top: 5%;
}
.form-group .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}


.form-group .form-control:focus {
  z-index: 5;
}
.form-group input[type="text"] {
  margin-top: 2px;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group input[type="email"] {
  margin-top: 2px;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group input[type="password"] {
  margin-top: 2px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-group .form-boton {
  max-width: 200px;
  padding: 20px;
  margin: 0 auto;
}
