/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: #dee6e7;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: #333;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.contenedor {
  padding: 20px;
  max-width: 60%;
  background-color: #ffffff;
}

.col-md-12 {
  padding: 20px;
  max-width: 80%;
  background-color: #ffffff;
}
.post {
  padding: 5px 10px 20px 20px;
  height: 400px;
  margin-top: 10px;
  background-color: #ffffff;
  border-left: 7px inset #2785ba;
  border-right: 7px outset #2785ba;
  border-top: 1px outset #646869;
  border-bottom: 1px outset #646869;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
}
.post .torneo-header {
  text-decoration: none;
  font-style: none;
  font-weight: none;
  font-variant: none;
  color: #5e5e5e;
}
.post .cartel{
  height: 255px;
}
.post .post-info {
  padding: 0px;
  margin-top: -10px;
  font-weight: bold;
  font-size: 12px;
  font-family: "Tahoma", "Geneva", sans-serif;
}
.post .post-thumbnail {
  margin: 0 auto;
  float: left;
  max-width: 188px;
  max-height: 255px;
}
.post .mas-info{
  height: 255px;
}
.post .descripcion {
  padding-right: 5%;
  padding-bottom: 5%;
  margin-left: -5%;
  font-size: 15px;
  text-align: inherit;
}
.post .tournament-date{
  margin-bottom: 5%;
  margin-left: -5%;
  font-size: 15px;
  text-align: inherit;
}
.post .enlaces{
  padding: 1%;
}
.post .enlaces .btn-sm {
  text-decoration: none;
  font-style: none;
  margin: 0.8%;
  font-size: 16px;
  font-family: "Tahoma", "Geneva", sans-serif;
}
.post .carnet {
  padding-left: 15%;
  font-size: 16px;
  font-family: "Tahoma", "Geneva", sans-serif;
}



/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
