body {
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 500px;
  background-color: #dee6e7;
}

.form-group {
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
}
.form-group .page-header,
.form-group .checkbox {
  margin-bottom: 10px;
}
.form-group .checkbox {
  font-weight: normal;
}
.form-group .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: -5px;
  font-size: 16px;
}
.form-group .form-control:focus {
  z-index: 5;
}
.form-group input[type="text"] {
  margin-top: -5px;
  margin-bottom: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group input[type="email"] {
  margin-top: -5px;
  margin-bottom: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group input[type="password"] {
  margin-top: -5px;
  margin-bottom: -10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-boton {
  max-width: 180px;
  padding: 10px;
  margin: 10px auto;
}
